.sider__nav{
    background-color: #66B2FF;
    width: 380px;
    height: 100vh;
    .sider__nav-logo{
        margin: 48px;
        padding-top: 48px;
        text-decoration: none;
        font-size: 36px;
    }
    .sider__nav-list{
        margin-top: 48px;
    }
}